<!-- app/views/questions/answer.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Coach's Answer</title>
</head>
<body>
  <h1>Your Question: <%= @question %></h1>
  <p>Coach's Answer: <%= @answer %></p>
</body>
</html>
